body,div,h1,h2,h3,h4,h5,p,ul,ol,p{
  padding:0;
  margin:0;
  font-family:"Helvetica";
  -webkit-text-size-adjust:100%;
}

li{
  padding:0;
  margin:0;
  list-style:none;
}

h1,h2,h3,h4,h5{
  font-weight:normal;
}

a{
  text-decoration:none;
}
.el-list-header{
  border-bottom:1px solid #eee;
  line-height:60px;
}
.el-list-header div.el-breadcrumb{
  font-size:16px;
  line-height:60px;
}
.el-button > i.fas,.el-button > i.fab,.el-button > i.far{
  margin-right:5px;
}

#app,.el-main{
  overflow: hidden;
}
.app-main{
  height:100%;
  overflow: auto;
  padding-right:20px;
}
.el-scrollbar .el-scrollbar__wrap{
  overflow-y: scroll !important;
  overflow-x: hidden !important;
}
.el-main{
  position: relative;
  height:93.7vh;
  padding:20px 0 20px 20px;
}
.el-main > div.el-scrollbar{
  height:100% !important;
  background-color:#fff !important;
}

.el-aside {
  height:100vh;
}
.el-header{
  padding:0;
}
.el-header{
  background-color:rgb(48, 65, 86);
}
.el-header .el-header-logo{
  display:inline-block;
  width:220px;
  height:60px;
  line-height:60px;
  color:#fff;
  text-align: center;
  background-color:#222d32;
}
.el-header .el-header-logo div{
  display:inline-block;
}
.el-header .el-header-logo div > img{
  float:left;
  width:50px;
  height:50px;
  border-radius:50%;
  margin-top:5px;
}
.el-header .el-header-logo div > strong{
  float:right;
  padding:0 15px;
}
.el-dropdown{
  float:right;
  line-height:60px;
  height:60px;
  text-align: center;
}
.el-dropdown div {
  height:60px !important;
}
.el-dropdown div > img{
  width:40px;
  height:40px;
  border-radius:6px;
  -webkit-border-radius:6px;
  cursor: pointer;
  margin-top:10px;
}
.el-dropdown div > span{
  float:right;
  padding:0 15px;
  color:#fff;
  cursor: pointer;
}

.menu-wrapper .el-submenu__title i.fas,
.menu-wrapper .el-submenu__title i.fab,
.menu-wrapper .el-menu-item i{
  font-size:18px;
  margin-right:10px;
}

#container{
  height:100vh;
}

#container .el-scrollbar{
  background-color:rgb(48, 65, 86);
}

.login-container{
  display:flex;
  width:100vw;
  height:100vh;
  background:url(../images/timg.jpg) no-repeat center center;
  background-size:cover;
  align-items: center;
}
.login-container .el-input input{
  background: transparent;
  border:none;
  border-radius:0px;
  color:#ffffff;
}
.login-container .el-form-item .form-item-flex{
  display: -webkit-flex;
  display:flex;
  line-height: 40px;
  flex-wrap: nowrap;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.login-container .title {
  font-size: 26px;
  font-weight: 400;
  color: #fff;
  margin: 0px auto 40px auto;
  text-align: center;
  font-weight: bold;
}
.login-container .login-form {
  position: absolute;
  left: 0;
  right: 0;
  width: 380px;
  max-width: 100%;
  padding: 35px 35px 15px 35px;
  margin:-70px auto;
  background-color:rgba(255,255,255,0.2);
}
.login-container .svg-container {
  color: #889AA4;
  vertical-align: middle;
  width: 30px;
  display: inline-block;
}
.login-container .svg-container .svg-icon{
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: -0.35rem;
  /* fill: currentColor;*/
  overflow: hidden;
  margin-left: 10px;
}
.login-container  .el-form-item__content i{
  display:inline-block;
  line-height:40px;
  font-size:20px;
  padding-left:10px;
  color:rgba(255,255,255,1);
}

.demo-table-expand .el-form-item{
  margin-right:0;
  margin-bottom:0;
  width:49%;
}
.demo-table-expand label{
  width:120px;
  color:#99a9bf;
}
